extends layout

block content
  img(src="https://res.cloudinary.com/cloudinary/image/upload/fl_attachment/v1/logo/for_white_bg/cloudinary_logo_for_white_bg.svg" height="36" width="169" alt="cloudinary")    
  hr
  div(class="container")
      div(class="row")
        div(class="twelve columns")          
          h4 Font Overlay for Image          
          hr
      div(class="row")
        div(class="twelve columns")
          label Pick an Image
          br
          input(type="button" id="my_btn" class="my_btn" name="Open ML")
          
      div(class="row")
        div(class="four columns")
          h4 Line1 settings 
          label Text
          textarea(name="message" id="message" text="test test" rows="4" cols="40")
          br 
          
          
          label Font Size
            input(id="selSize" type="range" min="50" max="200" value="60" class="slider" name="size")                                  
            span(name="size_value") 60

          label Font 
            select(name="font" id="selFont")
              option(value="f3") Choose one..
              option(value="f1") Font1
              option(value="f2") Font2
              option(value="f3") Font3
              option(value="f4") Font4            
          
                              

          label X &nbsp;
            input(id="xPos" type="text" value="400" size="5")   
          
          label Y &nbsp;
            input(id="yPos" type="text" value="400" size="5")              

          label Font Color &nbsp;
            input(id="fontColor" type="text" value="000000" size="6")                 
          
          input(type="button" id="preview" value="Preview")
          
          input(type="button" id="clear" value="Clear" style="margin-left: 4px ") 
          
          input(type="button" id="transform" value="Generate" style="margin-left: 4px ") 
          
        div(class="eight columns")
          span      
            span(id="link") Cloudinary URL will be shown here     
            img(src="https://res.cloudinary.com/mermaid/image/upload/f_auto,q_auto/aydqtzl0scrq0ulz5038" id='img' style="display:none")
            canvas(width="800", height="800" style="border:1px solid #000000;" id='canvas')
                

  script(type="text/javascript").

    var publicId = 'aydqtzl0scrq0ulz5038'
    var canvasInfo = {}
    var ml = null

    const mloptions = {
          cloud_name: 'mermaid',
          api_key: '515719411948469',
          username: 'akshay.ranganath@cloudinary.com',                    
          button_class: 'myBtn',
          button_caption: 'Insert Image'          
          }
      
    window.ml = cloudinary.createMediaLibrary(mloptions, {insertHandler: insertHandler}, "#my_btn")

    document.getElementById("preview").addEventListener("click", function(){
        updateText(false)
    }) 

    document.getElementById("transform").addEventListener("click", function(){
        updateText(true)
    }) 

    document.getElementById("clear").addEventListener("click", function(){        
        resetCanvasImage()
    }) 

    //slider functions 
    var sliders = document.getElementsByClassName('slider')
    for(var i=0; i<sliders.length; i++){
      sliders[i].addEventListener(
        'change',
        setCurrentValue,
        false
        )
    } 

    document.getElementById('img').addEventListener('load', function(e) {
      setCanvasImage(e)
    })

    document.getElementById('canvas').addEventListener('click', function(e) {
      locateMouse(e)
    })