doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/skeleton.min.css')    
    script(src='/javascripts/script.js')
    script(src='https://media-library.cloudinary.com/global/all.js')    
  body
    block content